body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
  background: white;
  width: 960px;
  font-size: 18px;
  text-align: center;
}

header {
  background: teal;
  height: 100px;
  width: 20%;
  color: white;
  line-height: 75px;
  font-size: 20px;
}

nav {
  position: fixed;
  background: white;
  top: 0;
  left: 200px;
  height: 100px;
  width: 80%;
  line-height: 75px;
}

a {
  color: gray;
}

.bg {
  position: relative;
  border-style: double;
  border-color: black;
  border-width: 2px;
  left: 0%;
  height: 500px;
  width: 100%;
  background-image: url("../images/background_old_paper_v3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
  position: relative;
  left: 0%;
  width: 90%;
  height: 100%;
}

.mybar{
  background-color: green;
}
footer{
  color: white;
  background-color: darkgrey;
  line-height: 150%;
  /* top: -250px; */
}